# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
/target/
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
*.properties
/cypress/videos/
/cypress/screenshots/
/target/*
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
DeepQueryBack/target/back-0.0.1-SNAPSHOT.jar
DeepQueryBack/target/back-0.0.1-SNAPSHOT.jar.original
DeepQueryBack/target/classes/application.properties
DeepQueryBack/target/classes/config.properties
DeepQueryBack/target/classes/back/BackApplication.class
DeepQueryBack/target/classes/back/config/CustomAccessDeniedHandler.class
DeepQueryBack/target/classes/back/config/CustomAuthenticationEntryPoint.class
DeepQueryBack/target/classes/back/config/EmbeddingConfig.class
DeepQueryBack/target/classes/back/config/JwtAuthenticationFilter.class
DeepQueryBack/target/classes/back/config/JwtAuthenticationToken.class
DeepQueryBack/target/classes/back/config/SecurityConfig.class
DeepQueryBack/target/classes/back/controller/ChatController.class
DeepQueryBack/target/classes/back/controller/LoginController.class
DeepQueryBack/target/classes/back/controller/RagController.class
DeepQueryBack/target/classes/back/controller/SessionController.class
DeepQueryBack/target/classes/back/entity/DailyQuestionInfo.class
DeepQueryBack/target/classes/back/entity/DialogueSessionInfo.class
DeepQueryBack/target/classes/back/entity/HistoryRecordInfo.class
DeepQueryBack/target/classes/back/entity/UserInfo.class
DeepQueryBack/target/classes/back/entity/UserLoginInfo.class
DeepQueryBack/target/classes/back/model/ChatRequest.class
DeepQueryBack/target/classes/back/model/ChatResponse.class
DeepQueryBack/target/classes/back/model/ChatResponse$ChatResponseBuilder.class
DeepQueryBack/target/classes/back/model/ChatStreamResponse.class
DeepQueryBack/target/classes/back/model/ChatStreamResponse$ChatStreamResponseBuilder.class
DeepQueryBack/target/classes/back/model/DateRequest.class
DeepQueryBack/target/classes/back/model/DocumentInfo.class
DeepQueryBack/target/classes/back/model/History.class
DeepQueryBack/target/classes/back/model/LoginRequest.class
DeepQueryBack/target/classes/back/model/LoginResponseModel.class
DeepQueryBack/target/classes/back/model/Message.class
DeepQueryBack/target/classes/back/model/OllamaChatRequest.class
DeepQueryBack/target/classes/back/model/OllamaChatResponse.class
DeepQueryBack/target/classes/back/model/OllamaMessage.class
DeepQueryBack/target/classes/back/model/RegisterRequest.class
DeepQueryBack/target/classes/back/model/SessionRequest.class
DeepQueryBack/target/classes/back/model/SessionResponse.class
DeepQueryBack/target/classes/back/repository/DialogueSessionsRepository.class
DeepQueryBack/target/classes/back/repository/DocumentRepository.class
DeepQueryBack/target/classes/back/repository/HistoryRecordsRepository.class
DeepQueryBack/target/classes/back/repository/UserLoginInfoRepository.class
DeepQueryBack/target/classes/back/repository/UserRepository.class
DeepQueryBack/target/classes/back/service/ChatService.class
DeepQueryBack/target/classes/back/service/LoginService.class
DeepQueryBack/target/classes/back/service/RagService.class
DeepQueryBack/target/classes/back/service/SessionService.class
DeepQueryBack/target/classes/back/service/impl/ChatServiceImpl.class
DeepQueryBack/target/classes/back/service/impl/ChatServiceImpl$1.class
DeepQueryBack/target/classes/back/service/impl/LoginServiceImpl.class
DeepQueryBack/target/classes/back/service/impl/SessionServiceImpl.class
DeepQueryBack/target/classes/back/util/JwtUtil.class
DeepQueryBack/target/maven-archiver/pom.properties
DeepQueryBack/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
DeepQueryBack/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
DeepQueryBack/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
DeepQueryBack/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
